// 主类
.kicw {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  overflow: hidden;
  text-align: center;


  ul,li {
    list-style-type: none;
  }

  a {
    text-decoration: none;
  }
}

// 报价方案
.kicw-plan {
  display: inline-block;
  margin-top: 1rem;
  vertical-align: top;

  &:hover {
    margin-top: 0;
  }
}

// 行
.kicw-row {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.kicw,
.kicw-plan,
.kicw-row,
.kick-delimiter {
  box-sizing: border-box;
  background-clip: padding-box;
}

// 总标题
.kicw-caption {
  display: block;
  text-align: center;
}

// 首行和尾行固定为100%宽
.kicw-row.bottom,
.kicw-row.top {
  width: 100%;
}


// 设置row里面的文字的样式
.kicw-row {
  &.b, .b {
    font-weight: bold;
  }
}

// 按钮
.kicw-btn {
  display: block;
  margin: 1rem auto;
  padding: 1rem 0;
  width: 80%;
  border-radius: 0.3rem;
}

// 飘带
.kicw-ribbon {

}

